{% extends "tags/index.html" %}
{% load static %}
{% block tags %}
<div class="card-container">
  {% for note in notes %}
  <div class="card" id="{{ note.tag.color }}">
    <div class="card-header">
      <div class="card-buttons">
        <!-- Botão de DELETE -->
        <form class="button-delete-form" method="post" action="{% url 'delete' note.id %}">
          {% csrf_token %}
          <button class="button-delete" type="submit">
            <img
            src="{% static 'notes/img/caixote-de-lixo.png' %}"
            class="card-image"
            />
          </button>
        </form>
        <!-- Botão de Editar -->
        <button
        class="button-update"
        type="button"
        onclick="openUpdateForm('{{ note.id }}')"
        >
        <img
        src="{% static 'notes/img/ferramenta-lapis.png' %}"
        class="card-image"
        />
      </button>
    </div>
    <!-- Titulo da Nota -->
    <div class="card-title">{{ note.title }}</div>
  </div>
  <!-- Conteúdo da nota -->
  <div class="card-content">
    <p>{{ note.content }}</p>
  </div>
  <!-- Form UPDATE -->
  <div class="updateNoteForm" id="updateNoteForm{{ note.id }}">
    <form class="form-card-update" method="post" action="{% url 'update' note.id %}">
      {% csrf_token %}
      <input
      class="update-card-title"
      type="text"
      name="title"
      placeholder="{{ note.title }}"
      value="{{ note.title }}"
      />
      <textarea class="update-card-content" name="content">{{note.content}}</textarea>
      <div class="update-card-tag">
        <input
        class="update-card-tag-name"
        type="text"
        name="tag"
        placeholder="{{ note.tag.name }}"
        value="{{ note.tag.name }}"
        />
        <select onchange="this.className=this.options[this.selectedIndex].className" class="update-card-tag-select-color color-option-default" name="color">
          <option class="color-option-default update-card-option-size" value="#FFF2A7"></option>
          <option class="color-option-3 update-card-option-size" value="#FFB394"></option>
          <option class="color-option-5 update-card-option-size" value="#FF9999"></option>
          <option class="color-option-7 update-card-option-size" value="#FF8AD2"></option>
          <option class="color-option-6 update-card-option-size" value="#D8BFD8"></option>
          <option class="color-option-4 update-card-option-size" value="#C6D8F0"></option>
          <option class="color-option-1 update-card-option-size" value="#C4F9FF"></option>
          <option class="color-option-2 update-card-option-size" value="#CCFF99"></option>
          <option class="color-option-8 update-card-option-size" value="#C6E5B1"></option>
        </select>
      </div>
      <div class="update-card-buttons">
        <button
        class="btn"
        id="update-button-close"
        type="button"
        onclick="closeUpdateForm('{{ note.id }}')"
        >
        Cancelar
        </button>
        <button class="btn" id="update-button-change" type="submit">
          Alterar
        </button>
      </div>
    </form>
  </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
