{% extends "notes/index.html" %}
{% load static %}
{% block notes %}
{% for note in notes %}
<div class="card">
  <div class="card-header">
    <div class="card-buttons">
      <!-- Botão de DELETE -->
      <form class="button-delete-form" method="post" action="{% url 'delete' note.id %}">
        {% csrf_token %}
        <button class="button-delete" type="submit">
          <img
            src="{% static 'notes/img/caixote-de-lixo.png' %}"
            class="card-image"
          />
        </button>
      </form>
      <!-- Botão de Editar -->
      <button
        class="button-update"
        type="button"
        onclick="openUpdateForm('{{ note.id }}')"
      >
        <img
          src="{% static 'notes/img/ferramenta-lapis.png' %}"
          class="card-image"
        />
      </button>
    </div>
    <!-- Titulo da Nota -->
    <div class="card-title">{{ note.title }}</div>
  </div>
  <!-- Conteúdo da nota -->
  <div class="card-content">
    <p>{{ note.content }}</p>
  </div>
  <!-- Form UPDATE -->
  <div class="updateNoteForm" id="updateNoteForm{{ note.id }}">
    <form class="form-card-update" method="post" action="{% url 'update' note.id %}">
      {% csrf_token %}
      <input
        class="update-card-title"
        type="text"
        name="title"
        placeholder="{{ note.title }}"
        value="{{ note.title }}"
      />
      <textarea
        class="update-card-content"
        name="content"
        placeholder="{{ note.content }}"
      >
        {{ note.content }} </textarea
      >
      <input
          class="update-card-tag"
          type="text"
          name="tag"
          placeholder="{{ note.tag.name }}"
          value="{{ note.tag.name }}"
      />
      <div class="update-card-buttons">
        <button
          class="btn"
          id="update-button-close"
          type="button"
          onclick="closeUpdateForm('{{ note.id }}')"
        >
          Cancelar
        </button>
        <button class="btn" id="update-button-change" type="submit">
          Alterar
        </button>
      </div>
    </form>
  </div>
</div>
{% endfor %}
{% endblock %}