.card-container {
  grid-area: 1/1;
  overflow: auto;
  text-align: center;
  height: 60vw;
  display: grid;
  grid-gap: 2%;
  grid-template: repeat(4, 1fr) / repeat(5, 1fr);
  grid-auto-flow: row;
  z-index: 1;
  padding: 1%;
}

.card {
  display: grid;
  box-shadow: 0 7px 20px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 22%);
  width: 100%;
  height: 15vw;
  grid-template-rows: 30% auto;
}

.card:hover .card-buttons {
  display: grid;
}

.card:hover .card-title {
  grid-row-start: 2;
  grid-row-end: 3;
  font-size: 1vw;
}

.card-header {
  grid-area: 1/1;
  display: grid;
  width: 94%;
  height: 94%;
  padding: 3%;
  grid-template-rows: 40% auto;
  z-index: 1;
}

.card-buttons {
  grid-area: 1/1;
  display: none;
  grid-template-columns: auto 10% 10%;
}

.button-delete-form {
  grid-area: 1/2;
}

.button-delete {
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.button-update {
  grid-area: 1/3;
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}

.card-buttons button:hover {
  cursor: pointer;
}

.card-image {
  height: 70%;
  width: 100%;
}

.card-title {
  font-family: Comic Sans MS, Comic Sans, cursive;
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.4vw;
}

.card-content {
  font-family: Bradley Hand, cursive;
  grid-area: 2/1;
  font-size: 1.1vw;
  align-self: center;
  line-height: 1.1vw;
  padding: 4%;
  z-index: 1;
}

.card-color-1 {
  background-color: #ead3a7;
}

.card-color-2 {
  background-color: #9de0f5;
}

.card-color-3 {
  background-color: #ef89ba;
}

.card-color-4 {
  background-color: #fae890;
}

.card-color-5 {
  background-color: #abe9c1;
}
